.login {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 50px;
  align-items: center;
}

.login__logo {
  width: 100px;
  margin: 0 auto;
  margin-top: 5%;
}
.signin__box {
  width: 300px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px 30px;
  margin-top: 20px;
}
.signin__box > h3 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 5px;
}
.signin__box > label {
  font-weight: 500;
  margin-top: 5px;
}
.signin__box > input {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px 5px;
  margin: 5px auto 10px;
  background-color: white !important;
}
.singin__button {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: none;
  box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
  border-color: #a88734 #9c7e31 #846a29;
  border: 1px solid;
  padding: 7px 0;
  border-radius: 3px;
  margin-top: 8px;
  cursor: pointer;
}

.singin__button:hover {
  background: linear-gradient(to bottom, #f9da91, #f0c14b);
  /* background: #f7ca00; */
}
.terms {
  font-size: 12px;
}
.signup {
  width: 350px;
}
.new__amazon {
  text-align: center;
  font-size: 12px;
  margin: 8px 0;
  position: relative;
  background-color: white;
  z-index: 10;
}
.new__amazon::before {
  content: "";
  right: 0;
  left: 0;
  bottom: 7px;
  height: 0.8px;
  background-color: lightgrey;
  position: absolute;
  width: 100px;
  z-index: -1;
}
.new__amazon::after {
  content: "";
  right: 0;
  bottom: 7px;
  height: 0.8px;
  background-color: lightgrey;
  position: absolute;
  width: 100px;
  z-index: -1;
}

.signup > a {
  display: block;
  text-align: center;
  border: 1px solid grey;
  background-color: #efefef;
  width: 100%;
  margin: 0 auto;
  padding: 6px 3px;
  background: llightgrey;
  text-decoration: none;
  color: black;
}
