.shoppingCart {
  flex: 1;
  background-color: white;
  margin: 4px 10px;
  padding: 5px 8px;
}

.shoppingCart > h1 {
  padding: 10px 0 30px;
  font-weight: 500;
  border-bottom: 1px solid #cbcaca;
}
